<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>来自运动品牌 adidas originals 推出的 Tubular Defiant PK ，抢眼的配色设计非常能吸引眼球，鞋身由舒适的Primeknit材质打造，橙红色与白色的结合非常清新，搭配皮革支架、后跟以及鞋身的点缀，带来强烈的视觉冲击，最后搭载经典的Tubular鞋底单元，更加贴合脚掌，带来卓越的脚感。</string>
		<key>goodslink</key>
		<string>https://s.click.taobao.com/5WuPOmw</string>
		<key>goodsname</key>
		<string>adidas originals Tubular Defiant PK </string>
		<key>goodsprice</key>
		<string>1099</string>
		<key>id</key>
		<string>6135</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201705/13/1494677811akPcrHN7RF.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string></string>
		<key>tag</key>
		<array>
			<string>经典款式</string>
			<string>小众首选</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>来自运动品牌 adidas originals 联名 Alexander Wang 推出的 Run drop ，基于 Alexlander Wang Run Clean 鞋型，增加有限的框架、个性鞋带以及多重材质注入，包裹感受与动感表现均有升级。颠倒的三叶草，在时尚领域的独到理念，为早已红遍大江南北的 Boost 鞋履注入更多不羁的潮流基因。</string>
		<key>goodslink</key>
		<string>https://s.click.taobao.com/W4okcow</string>
		<key>goodsname</key>
		<string>adidas originals x Alexander Wang Run drop</string>
		<key>goodsprice</key>
		<string>1799</string>
		<key>id</key>
		<string>5728</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201704/24/1493004980wCZ87mbdsE.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string></string>
		<key>tag</key>
		<array>
			<string>经典款式</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>来自德国运动品牌 adidas 推出的 Adilette ，经典又简约的款式极具个性和品牌辨识度，纯黑的配色搭配亮眼的白色三道杠装饰，张扬又不失稳重，是街头潮人的夏季必备。原价 299 元，限时特惠 249 元。</string>
		<key>goodslink</key>
		<string>https://s.click.taobao.com/ajDKWvw</string>
		<key>goodsname</key>
		<string>adidas Adilette</string>
		<key>goodsprice</key>
		<string>249</string>
		<key>id</key>
		<string>4798</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201703/21/14900813542ekZnCz37Q.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string>xsth</string>
		<key>tag</key>
		<array>
			<string>高性价比</string>
			<string>限时特惠</string>
			<string>本季热门</string>
			<string>女神专属</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>来自德国运动品牌 adidas 推出的 CourtVantage MID ，以经典的鞋型款式设计，时尚大方，鞋侧注入标志性的三道杠创新设计，装饰鞋身的同时带来直观品牌辨识度，凸显品质感，在配色上选择经典的白色加持，尽显清爽简洁风。</string>
		<key>goodslink</key>
		<string>https://s.click.taobao.com/J0Fonvw</string>
		<key>goodsname</key>
		<string>adidas CourtVantage MID </string>
		<key>goodsprice</key>
		<string>399</string>
		<key>id</key>
		<string>4756</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201703/20/1489994215bQ66z6Rkjz.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string></string>
		<key>tag</key>
		<array>
			<string>高性价比</string>
			<string>经典款式</string>
			<string>本季热门</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>来自德国运动品牌 adidas 推出的 D Rose7 ，全新进化的 adidas D Rose 7 Boost Primeknit 不仅采用了 adidas 旗下最为强劲的 Boost + Primeknit 双擎配置，更在缓震、包裹、保护支撑及细节方面，都有极为出色的优异表现，称其为最强罗斯战靴，一点都不为过。</string>
		<key>goodslink</key>
		<string>https://s.click.taobao.com/d4CHqxw</string>
		<key>goodsname</key>
		<string>adidas D Rose7 </string>
		<key>goodsprice</key>
		<string>899</string>
		<key>id</key>
		<string>4658</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201703/15/1489561316SyMBKBrXfj.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string></string>
		<key>tag</key>
		<array>
			<string>明星示范</string>
			<string>经典款式</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>来自德国运动品牌 adidas 于 17 春推出的 NMD ，鞋款从经典跑鞋中汲取设计精髓，并与 2016 年优质设计互相融合，中底搭载了 adidas 独有的 BOOST 技术，EVA 压缩颗粒增加吸震与回弹表现，配合革新 PRIMEKNIT 编织技术构成鞋身，透气度极高，一经推出就成为各大潮流 icon 的上脚必备，在配色方面提供红色、黑色和白色可选。</string>
		<key>goodslink</key>
		<string>https://s.click.taobao.com/GrWPJ3x</string>
		<key>goodsname</key>
		<string>adidas NMD</string>
		<key>goodsprice</key>
		<string>1249</string>
		<key>id</key>
		<string>4325</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201702/28/1488264380B6hPb3HRaa.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string></string>
		<key>tag</key>
		<array>
			<string>经典款式</string>
			<string>本季热门</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>来自德国运动品牌 adidas 于 17 春推出的 Ultra Boost 3.0 Triple Black  ，鞋身轮廓相较 2.0 更加饱满，黑色的 Primeknit 鞋面上藏有低调的独特纹路，两侧半透明三线 Cage 与后跟支架以同色调呼应，并搭载上白色 BOOST 中底和黑色橡胶外底，凸显独特设计。</string>
		<key>goodslink</key>
		<string>https://s.click.taobao.com/JaUOK3x</string>
		<key>goodsname</key>
		<string>adidas Ultra Boost 3.0 Triple Black </string>
		<key>goodsprice</key>
		<string>1999</string>
		<key>id</key>
		<string>4306</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201702/28/1488262395CwH3f8pj7k.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string></string>
		<key>tag</key>
		<array>
			<string>经典款式</string>
			<string>本季热门</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>来自德国运动品牌 adidas 推出的 TUBULAR INVADER STRAP ，采用了非常有质感的翻毛皮作为鞋面的材质，加上中帮的鞋型，鞋款通体注入迷彩花纹元素打造，极具街头潮流感，软塑料材质的鞋提拉环设计，实用性更强。</string>
		<key>goodslink</key>
		<string>https://s.click.taobao.com/pvT1b4x</string>
		<key>goodsname</key>
		<string>adidas TUBULAR INVADER STRAP </string>
		<key>goodsprice</key>
		<string>899</string>
		<key>id</key>
		<string>4229</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201702/24/1487907494WMQYRphRzE.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string></string>
		<key>tag</key>
		<array>
			<string>经典款式</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>来自德国运动品牌 adidas 于 17 春推出的 climacool 1 ，极具质感的鞋身设计搭配招牌式的 adiPrene 以及 adiPrene+ 缓震胶单元，保持一贯的透气舒适之余也极具潮流气质，在配色方面提供黑色和白色可选。</string>
		<key>goodslink</key>
		<string>https://s.click.taobao.com/JmXG45x</string>
		<key>goodsname</key>
		<string>adidas climacool 1</string>
		<key>goodsprice</key>
		<string>829</string>
		<key>id</key>
		<string>4226</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201702/23/14877827574yizdrXj3J.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string></string>
		<key>tag</key>
		<array>
			<string>经典款式</string>
			<string>本季热门</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>来自德国运动品牌 adidas 于 17 春推出的NMD R1“Triple Black” ，运用有弹性的网眼鞋面打造，舒适的纺织面料，轻盈舒适，在配色方面提供全黑配色可选，经典百搭，可轻松搭配各种造型。</string>
		<key>goodslink</key>
		<string>https://s.click.taobao.com/uK0M45x</string>
		<key>goodsname</key>
		<string>adidas NMD R1 “Triple Black” </string>
		<key>goodsprice</key>
		<string>1999</string>
		<key>id</key>
		<string>4217</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201702/23/1487781682jk75XjAPGm.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string></string>
		<key>tag</key>
		<array>
			<string>限量好货</string>
			<string>经典款式</string>
			<string>本季热门</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>来自德国运动品牌 adidas 于 17 春推出的 Ultra Boost ，问世之初便由于 Kanye West 的亲身示范而被各方关注，发售之后更被无数朋友称为最舒适的 Boots 鞋款，在配色方面提供灰色可选。</string>
		<key>goodslink</key>
		<string>https://s.click.taobao.com/E2QG46x</string>
		<key>goodsname</key>
		<string>adidas Ultra Boost</string>
		<key>goodsprice</key>
		<string>1299</string>
		<key>id</key>
		<string>4145</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201702/20/1487564309az3EcpBGdT.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string></string>
		<key>tag</key>
		<array>
			<string>经典款式</string>
			<string>本季热门</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>来自德国运动品牌 adidas 于 17 春推出的 Ultra Boost ，问世之初便由于 Kanye West 的亲身示范而被各方关注，发售之后更被无数的朋友称为最舒适的 Boots 鞋款，在配色方面提供两种搭配可选。原价 1499 ，限时特惠 1299 。</string>
		<key>goodslink</key>
		<string>https://s.click.taobao.com/2kJmT8x</string>
		<key>goodsname</key>
		<string>adidas Ultra Boost</string>
		<key>goodsprice</key>
		<string>1299</string>
		<key>id</key>
		<string>4020</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201702/13/148693772663TeMaJJ4J.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string>xsth</string>
		<key>tag</key>
		<array>
			<string>高性价比</string>
			<string>限时特惠</string>
			<string>经典款式</string>
			<string>本季热门</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>来自德国运动品牌 adidas 于 17 春推出的 Ultra Boost 3.0 ，鞋身依然延续低帮鞋身造型，鞋面采用透气网布打造，完美的鞋身弧度为慢跑和日常穿着提供最好的舒适度，在配色方面提供经典黑白配色可选。原价 1399 ，限时特惠 1199 。</string>
		<key>goodslink</key>
		<string>https://s.click.taobao.com/nTZmT8x</string>
		<key>goodsname</key>
		<string>adidas Ultra Boost 3.0</string>
		<key>goodsprice</key>
		<string>1199</string>
		<key>id</key>
		<string>4017</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201702/13/1486937453WHr4Rfrm8j.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string>xsth</string>
		<key>tag</key>
		<array>
			<string>高性价比</string>
			<string>限时特惠</string>
			<string>经典款式</string>
			<string>本季热门</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>来自德国运动品牌 adidas 于 17 春推出的鸡年限量款 EQT Support Ultra cny ，运用中国风的麻将为设计灵感，鞋垫为麻将拼接设计，极具辨识度，淳朴的鞋款造型，搭配简单大气的配色，无论是跑步还是登山都是一个不错的选择。原价 2399 ，限时特惠 2199 。</string>
		<key>goodslink</key>
		<string>https://s.click.taobao.com/TUEqT8x</string>
		<key>goodsname</key>
		<string>adidas EQT Support Ultra cny </string>
		<key>goodsprice</key>
		<string>2199</string>
		<key>id</key>
		<string>3993</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201702/13/1486933196xGMbN6mh8d.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string></string>
		<key>tag</key>
		<array>
			<string>限量好货</string>
			<string>经典款式</string>
			<string>本季热门</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>来自德国运动品牌 adidas 推出的 ROSE 4 ，运用高档皮革搭配透气网眼和舒适气垫打造，超轻材质的运用使得运动和日常穿着都极为舒适，在配色方面选择黑色并以红色加持，极易穿搭造型。</string>
		<key>goodslink</key>
		<string>https://s.click.taobao.com/Oafqt9x</string>
		<key>goodsname</key>
		<string>adidas ROSE 4</string>
		<key>goodsprice</key>
		<string>599</string>
		<key>id</key>
		<string>3871</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201702/07/1486422013MA6CTr44Jc.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string>xsth</string>
		<key>tag</key>
		<array>
			<string>高性价比</string>
			<string>限时特惠</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>来自运动品牌 adidas 于 16 冬推出的 Tubular Shadow ，向来被冠以小椰子的称号，低帮的设计以及流线型的侧面支撑与 Yeezy 350 可谓有异曲同工之处，在配色上提供深卡其色可选。原价999，限时特惠649。</string>
		<key>goodslink</key>
		<string>https://s.click.taobao.com/MVzg4Cx</string>
		<key>goodsname</key>
		<string>adidas Tubular Shadow</string>
		<key>goodsprice</key>
		<string>649</string>
		<key>id</key>
		<string>3580</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201701/14/1484360468hWhmsJwtDj.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string>xsth</string>
		<key>tag</key>
		<array>
			<string>高性价比</string>
			<string>限时特惠</string>
			<string>经典款式</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>来自德国运动品牌 adidas 推出的利拉德战靴鸡年限定款 D Lillard 3 ，鞋身依然延续低帮鞋身造型，颇为独特的鞋身运用 TPU 包裹展现了极为特别的视觉效果，鞋舌上施以红色 D Lillard Logo ，搭配鞋底侧注入黑白羽翼状图案回应鸡年限定主题。原价 969 元，限时特惠 649 元。</string>
		<key>goodslink</key>
		<string>https://s.click.taobao.com/DJSmLDx</string>
		<key>goodsname</key>
		<string>adidas D Lillard 3</string>
		<key>goodsprice</key>
		<string>649</string>
		<key>id</key>
		<string>3439</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201701/09/1483930608mzNMFMPXaW.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string>xsth</string>
		<key>tag</key>
		<array>
			<string>高性价比</string>
			<string>限时特惠</string>
			<string>经典款式</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>自诞生以来，Adidas推出的 Equipment Running鞋款一直被誉为是一双极具稳定性的跑鞋，淳朴的鞋款造型，加上SOFTCELL技术使整双鞋款显得简约而不简单。无论是跑步还是登山都是一个不错的选择。</string>
		<key>goodslink</key>
		<string>http://s.click.taobao.com/s4cvuTx</string>
		<key>goodsname</key>
		<string>Equipment Running</string>
		<key>goodsprice</key>
		<string>899</string>
		<key>id</key>
		<string>216</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201609/05/1473072780XfP85HmMrc.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string></string>
		<key>tag</key>
		<array>
			<string>高性价比</string>
			<string>经典款式</string>
		</array>
	</dict>
	<dict>
		<key>brandname</key>
		<string>adidas</string>
		<key>goodsdesc</key>
		<string>由Adidas 所推出的Ultra Boost，问世之初便由于Kanye West 的亲身示范而被各方潮流媒体关注，发售之后更被无数的朋友成为最为舒适的Boost鞋款。无论是简约的鞋面还是舒适的鞋底都是当下不可多得的跑鞋鞋款。</string>
		<key>goodslink</key>
		<string>http://s.click.taobao.com/52L5vTx</string>
		<key>goodsname</key>
		<string>Ultra Boost</string>
		<key>goodsprice</key>
		<string>1399</string>
		<key>id</key>
		<string>194</string>
		<key>picpath</key>
		<string>https://juedui010.oss-cn-beijing.aliyuncs.com/201609/02/1472816694atGSitBxkR.jpg?x-oss-process=style/newpipe.jpg</string>
		<key>recommend</key>
		<string></string>
		<key>tag</key>
		<array>
			<string>限量好货</string>
			<string>明星示范</string>
			<string>高性价比</string>
			<string>经典款式</string>
			<string>本季热门</string>
		</array>
	</dict>
</array>
</plist>
