<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageInfo</key>
		<string>人物写真01</string>
		<key>imageName</key>
		<string>figurePhoto01.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真02</string>
		<key>imageName</key>
		<string>figurePhoto02.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真03</string>
		<key>imageName</key>
		<string>figurePhoto03.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真04</string>
		<key>imageName</key>
		<string>figurePhoto04.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真05</string>
		<key>imageName</key>
		<string>figurePhoto05.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真06</string>
		<key>imageName</key>
		<string>figurePhoto06.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真07</string>
		<key>imageName</key>
		<string>figurePhoto07.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真08</string>
		<key>imageName</key>
		<string>figurePhoto08.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真09</string>
		<key>imageName</key>
		<string>figurePhoto09.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真10</string>
		<key>imageName</key>
		<string>figurePhoto10.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真11</string>
		<key>imageName</key>
		<string>figurePhoto11.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真12</string>
		<key>imageName</key>
		<string>figurePhoto12.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真13</string>
		<key>imageName</key>
		<string>figurePhoto13.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真14</string>
		<key>imageName</key>
		<string>figurePhoto14.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真15</string>
		<key>imageName</key>
		<string>figurePhoto15.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真16</string>
		<key>imageName</key>
		<string>figurePhoto16.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真17</string>
		<key>imageName</key>
		<string>figurePhoto17.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真18</string>
		<key>imageName</key>
		<string>figurePhoto18.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真19</string>
		<key>imageName</key>
		<string>figurePhoto19.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>人物写真20</string>
		<key>imageName</key>
		<string>figurePhoto20.png</string>
	</dict>
</array>
</plist>
